/* RESPONSIVE */
@media (max-width: 1199.5px) { 
  h1 {
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: 35px;
  }

  h1 p {
    font-weight: 600;
    margin-top: .2rem;
    width: 60px;
    font-size: 35px;
    letter-spacing: .1rem;
  }

  h2 {
    font-size: 2.1875rem;
    letter-spacing: .1rem;
  }

  h6 {
    color: var(--text-gray);
    letter-spacing: .1rem;
  }

  h3 {
    font-size: 1.875rem;
    line-height: 2.6875rem;
    letter-spacing: .1rem;
  }

  h5 {
    font-size: 1.0625rem;
    margin-top: 1rem;
    letter-spacing: .1rem;
  }
  .header_wrapper{
    margin-top: -5rem;
  }
  .header_wrapper .navbar-brand img{
    margin-left: 6rem;
  }
  .banner_wrapper img{
    width: 250px;
    margin-left: 7rem;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
  }

  .blog_wrapper .blog_details {
    top: 0.3125rem;
    left: 0.3125rem;
    right: 0.3125rem;
    bottom: 0.3125rem;
  }
  .header_wrapper .nav-item .nav-link {
    font-family: var(--primary-font);
    font-size: 0.9375rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--bg-black);
    display: inline-block;
  }

  /* .header_wrapper .nav-item .nav-link.active,
  .header_wrapper .nav-item .nav-link:hover {
    color: var(--primary-text);
  } */
  
  .about_wrapper{
    margin-top: -3rem;
  }
  .footer_wrapper{
    margin-top: -5rem;
  }
  .blog_wrapper{
    margin-top: -6rem;
  }
  .header_wrapper .navbar-brand img {
    max-width: 7rem;
    height: auto;
    margin-top: -.3rem;
    margin-left: -7rem;
  }
}

@media (max-width: 991px) {
  .header_scrolled {
    height: auto;
  }

  .header_wrapper .navbar-collapse {
    margin-top: -0.125rem;
  }

  .header_wrapper .menu-navbar-nav {
    text-align: center;
    background-color: var(--bg-white);
    padding-bottom: 0.9375rem;
  }

  .header_wrapper .nav.item .nav-link {
    margin-top: 0.9375rem;
  }

  .header_wrapper .navbar-brand img {
    max-width: 7rem;
    height: auto;
    margin-top: -.3rem;
    margin-left: -1rem;
  }

  .banner_wrapper .banner-content h2::after {
    content: '';
    width: 25%;
    height: 0.132rem;
    position: absolute;
    top: 64%;
    left: 25%;
    background: var(--bg-black);
    overflow: hidden;
  }

  .portfolio_wrapper{
    margin-top: -6rem;
  }
  .blog_wrapper{
    margin-top: -6rem;
  }
  .footer_wrapper{
    margin-top: -5rem;
  }
  
}


@media (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2.537rem;
  }

  h2 {
    font-size: 1.5625rem;
    line-height: 2.1875rem;
  }

  .about_wrapper .client-info::before {
    top: 0.25rem;
    left: 2.8125rem;
  }

  .about_wrapper .client-info>div {
    justify-content: center;
  }

  .about_wrapper h5 {
    margin-top: 2rem;
  }
  .header_wrapper .navbar-brand img {
    max-width: 6rem;
    height: auto;
    margin-top: -.3rem;
  }

  .banner_wrapper .banner-content h2::after {
    content: '';
    width: 25%;
    height: 0.132rem;
    position: absolute;
    top: 64%;
    left: 25%;
    background: var(--bg-black);
    overflow: hidden;
  }

  /* .header_wrapper .nav-item .nav-link.active,
  .header_wrapper .nav-item .nav-link:hover {
    color: var(--primary-text);
  } */
  
  .footer_wrapper{
    margin-top: -5rem;
  }

}

@media (max-width: 575.5px) {

    .header_wrapper .navbar-brand img {
      max-width: 6rem;
      height: auto;
      margin-top: -.3rem;
      margin-left: -.1rem;
    }
  
    .banner_wrapper .banner-content h2::after {
      content: '';
      width: 25%;
      height: 0.132rem;
      position: absolute;
      top: 64%;
      left: 25%;
      background: var(--bg-black);
      overflow: hidden;
    }
  
    /* .header_wrapper .nav-item .nav-link.active,
    .header_wrapper .nav-item .nav-link:hover {
      color: var(--primary-text);
    } */
 
    .footer_wrapper{
      margin-top: -5rem;
    }

}

@media (max-width: 390px) {
  .banner-wrapper .banner-content h2::after {
    left: 34%;
  }
}
.footer_wrapper{
  margin-top: -5rem;
}